<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Cars</title>
</head>

<body>
<div class="container d-flex justify-content-center h-100 col-md-8">
    <div class="row h-100 justify-content-center align-items-center mx-auto my-5">
    <div class="col-md-8">
    <div class="row align-items-center my-3">
        <h1>Список автомобилей</h1>
        <b><p th:text="'Показано автомобилей: ' + ${cars.size()}"></p></b>
        <form  th:method="GET" th:action="@{cars}">
            <label>Введите количество строк    <input type="text" name="quantity"/></label>
            <input class="btn btn-primary btn-sm mx-3" role="button" type="submit" value="Выбрать"/>
        </form>
    </div>

    <div class="row align-items-center">
        <table class="table table-dark table-hover pl-2">
            <thead>
                <tr>
                    <td><b><span th:text="'MARK'">MARK</span></b></td>
                    <td><b><span th:text="'COLOR'">COLOR</span></b></td>
                    <td><b><span th:text="'VIN NUMBER'">VIN NUMBER</span></b></td>
                </tr>
                <tr th:each="car, itemStat : ${cars}">
                    <td><span th:text="${car.getModel()}">Model</span></td>
                    <td><span th:text="${car.getColor()}">Color</span></td>
                    <td><span th:text="${car.getVin()}">VIN number</span></td>
                </tr>
                <tr th:if="${cars.isEmpty()}" >
                    <td colspan="3"><span th:text="No cars available"></span></td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="row align-items-center my-2">
        <form th:action = "@{./create}"  method="GET">
            <input class="btn btn-primary btn-sm" role="button" type="submit" th:method="GET" value="Добавить"/>
        </form>
    </div>
    </div>
    </div>
</div>
</body>
</html>